body,
html {
  height: 100%;
  margin: 0;
}

#preload_frame_2 {
  background: url('placeholder_frame_2.png') no-repeat -9999px -9999px;
}

.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;

  background-color: black;
}

.frame_1 {
  /* The image used */
  background-image: url('placeholder_frame_1.png');
}

.frame_2 {
  /* The image used */
  background-image: url('placeholder_frame_2.png');
}

#quoteText {
  border: 5px black solid;
  background-color: white;
  color: black;
  border-radius: 10px;

  font-family: 'Unlock', cursive;
  font-size: xx-large;

  position: absolute;
  bottom: 0;
  margin-right: auto;
  width: 300px;
  padding: 10px;
  transition: opacity ease 0.2s;
}

.hidden {
  opacity: 0;
}
